* {
  margin: 0;
  padding: 0;
}
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/banner1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: white;
}
.fa-globe-asia {
  color: white;
  font-size: 5vh;
  float: left;
}
.login-btn {
  width: 100px;
  padding: 8px 0;
  outline: none imp !important;
  border: 2px solid white;
  border-radius: 50px;
  background: transparent;
  color: white;
  float: right;
}
.header h1 {
  padding-top: 260px;
  padding-bottom: 0;
  font-size: 55px;
}
.header p {
  margin: 18px 0px;
}
.input-group {
  width: 90% !important;
  max-width: 500px;
  border-radius: 30px;
  background: white;
  margin: auto;
  padding: 2px;
}
.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}
.input-group-text {
  width: 100px;
  background-image: linear-gradient(#00ff7e, #1f3d90);
  border: 0 !important;
  color: white !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}
/* Features */
.features {
  padding: 100px 0;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}
.feature-img img {
  width: 100%;
}
.price {
  width: 50px;
  height: 50px;
  background: #ff5722;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  position: absolute;
  left: 20px;
  bottom: -25px;
}
.feature-img {
  position: relative;
}
.rating {
  padding: 3px;
  float: right;
  background: white;
  bottom: -1px;
  right: 0;
  position: absolute;
}
.features .fas {
  font-size: 15px;
  color: #ff5722;
}
.feature-details {
  padding: 20px;
  text-align: justify;
}
.featur-details h4 {
  font-weight: 600;
  margin-top: 20px;
}
.feature-details .fa {
  margin-right: 5px;
}
.feature-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
}
/* Gallery */
.gallery {
  padding: 100px 0;
  background: #efefef;
}
.gallery-box img {
  width: 100%;

  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.gallery-box img:hover {
  transform: scale(1.02);
}
.gallery-box h4 {
  display: block;
  color: white;
  text-shadow: -2px 2px 2px black;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-box {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
}
.banner {
  height: 100vh;
  background-image: url(images/banner-1.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 14%;
}
.banner-highlights {
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}
.booking-btn {
  width: 120px;
  padding: 8px 0;
  outline: none imp !important;
  border: 2px solid white;
  border-radius: 50px;
  background: transparent;
  color: white;
  margin-top: 20px;
}
.users-feedback {
  padding: 100px 0;
}
.user-review {
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
  padding-bottom: 50px;
}
.user-review p {
  padding: 50px 10px 10px 10px;
}
.users-feedback img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: -30px 0 20px 40%;
}
.user-review p::before {
  content: "\201d";
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  /* position: relative; */
  left: 44%;
  top: -20px;
}
.footer {
  padding: 100px 20px 15px;
  background-image: linear-gradient(#2d557d, #9610fb);
  color: white;
}
.footer .fa-globe-asia {
  width: 150px;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p {
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}
.footer .row .fa {
  padding-right: 20px;
  font-size: 15px;
}
.footer hr {
  margin-top: 10px;
  background: #efefef;
}
.footer .copyright p {
  text-align: center;
}
